@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        height: 100vh;
        width: 100vw;
        background: url('~/Content/1.jpg') 50% 50% no-repeat;
        background-size: cover;
        overflow: hidden;
        color: #000;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 50pt;
    }

    h4 {
        font-size: 16pt;
    }
</style>
<h1>æsthetic</h1>
<h4>PHOTO GALLERY</h4>